html,body{
    font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
    /* max-width: 1903px; */
    /* width: 1903px; */
}
.left{
    float: left;
}
.right{
    float: right;
}
.site-topbar .container{
    line-height: 40px;
}
.container{
    width: 1226px;
    margin: 0 auto;
}
.hide{
    display: none!important;
}
ul{
    display: inline-block;
}
/* 鼠标移入动画 */
.dh{
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.dh:hover{
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}
/* 鼠标移入动画 end*/
.brick-item{
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.box-hd{
    position: relative;
}
.box-hd>.more{
    height: 58px;
    position: absolute;
    right: 0px;
    top: 1px;
}
.box-hd>.more a{
    font-size: 16px;
    color: #424242;
    vertical-align: top;
    line-height: 58px;
    transition: all .2s;
}
.box-hd>.more a:hover{
    color: #ff6709;
}
.box-hd>.more i{
    font-size: 21px;
    vertical-align: -2.5px;
}


